/*
        Author: Philip Dushie
        Date: November 8, 2024
        Project: Deck of cards viewer
        Component: style.css
*/

/*=============================================
Style for all Screen Sizes
===============================================*/
html {
    width: 100%;
    background-color: #C2FFC2;
    overflow-x: hidden;
}

body {
    color: #0B1215;
    width: 100%;
    margin: auto;
    min-height: 100vh;
    padding: 0;
}

img {
    width: 40%;
}

input {
    width: 60%;
    height: 40px;
    margin: 10px;
    border: 2px rgb(169, 174, 179) solid;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
}

button {
    height: 40%;
    width: 30%;
    border: 2px rgb(169, 174, 179) solid;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}
/*=============================================
Style for Screens with width greater than 480px
===============================================*/
@media screen and (min-width: 481px) {
    #options {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        border: 2px solid rgb(245, 242, 242);
        border-radius: 5px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        gap: 20px;
        background-color: green;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 30%;
        height: auto;
        border: 2px solid rgb(245, 242, 242);
        border-radius: 5px;
        margin: auto;
        margin-bottom: 20px;
        background-color: green;
    }
    
}

/*=============================================
Style for Screens with width 480px and below
===============================================*/
@media screen and (max-width: 480px) {
    #options {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    border: 1px solid rgb(245, 242, 242);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    gap: 10px;
    background-color: green;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    border: 1px solid rgb(245, 242, 242);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    background-color: green;
}
}