html {
    width: 100%;
}

body {
    margin: 0;
}

nav  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}

div#first, div#second {
    margin: 20px;
}

div#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#first {
    align-self: flex-end;
}


/* #content #first img {
    display: block;
    flex: 1 1 250px;
    align-self:;
    
} */
